body {
    font-family: Arial, sans-serif;
    background-color: rgb(243, 190, 148);
    direction: rtl;
    text-align: right;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(230, 167, 115);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(99, 56, 21);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(235, 125, 34);
}